[Unit]
Description=A Telegram bot to help convert supermarket receipts into detailed ledger transactions.
After=network-online.target

[Service]
Type=simple
User=receipt-goblin
WorkingDirectory=/opt/receipt-goblin

Environment=RECEIPT_GOBLIN_TOKEN=secret
Environment=OPENAI_API_KEY=secret

ExecStart=uv run receipt-goblin

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
